h1, h4 {
    text-align: center;
    color: blue;
    font-family: monospace;
}

.links {
    text-align: center;
    font-weight: 900;
}

h4 {
    color: red;
    background-color: aqua;
}

.quote {
    font-size: 32px;
}